/* Estilos Generales */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
}

/* Fin estilos Generales */

/* Estilos del header */
header{
    height: 10vh;
    background: #232931;
    color: white;
    /* border-bottom: 2px solid #eeeeee; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contenedor-header{
    max-width: 1280px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-header img{
    width: 120px;
    height: 60px;
}

.contenedor-header div{
    width: 120px;
}
/* Fin de estilos del Header */

/* Estilos de los formularios */
.contenedor-form{
    width: 60%;
    height: 80%;
    background: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form input{
    border-radius: 80px;
    border: none;
}

label{
    padding: 0 30px;
}

.input{
    margin-top: 20px;
    line-height: 1.5;
    color: #666666;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 30px;
}

.input:focus{
    transform: scale(1.05);
}

.elemento-form{
    display: flex;
    flex-direction: column;
}

.boton{
    border-radius: 25px;
    font-weight: 900;
    background: #57b846;
    padding: 0 25px;
    width: 100%;
    height: 50px;
    transition: all 0.4s;
    color: white;
}
/* Fin de estilos de los formularios */

/* Estilos Login */
main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Fin de estilos de Login */