/* Variables */
:root {
    --sombra: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --verde-gral: #57b846;
    --verde-hover: #339522;
    --verde-active: #176909;
    --verde: #07b195;
    --naranja: #cc9914;
    --amarillo:#ecc540;
}
/* Estilos Generales */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
}

.contenedor-form{
    height: 90vh;
}

.cerrar-sesion, .cerrar-sesion::before{
    color: rgb(11, 100, 202);
    margin-top: 10px;
}
/* Fin estilos Generales */

/* Estilos del header */
header{
    color: white;
    box-shadow: var(--sombra);
    background-color: #577590;
}

nav h3{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Fin de estilos del Header */

/* Estilos de los formularios */
.formulario{
    color: black;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--sombra);
}

.formulario input, .fila-botones input{
    border-radius: 80px;
    border: none;
    margin-top: 10px;
    height: 50px;
    width: 80%;
}

.formulario img{
    width: 25vmin;
}

label{
    width: 75%;
}

label::before{
    color: #666;
    margin-right: 5px;
}

a::before{color: white;}
.input{
    color: #666666;
    background: #e6e6e6;
    border-radius: 25px;
    padding: 0 30px;
}

.input:focus{
    transform: scale(1.05);
    background: #c8c8c8;
    box-shadow: var(--sombra);
}

.elemento-form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
}

.boton{
    border-radius: 25px;
    font-weight: 900;
    background: var(--verde-gral);
    transition: all 0.4s;
    color: white;
    padding: 0 30px;
}

.boton:hover{
    transform: scale(1.01);
    background-color: var(--verde-hover);
    box-shadow: var(--sombra);
}

.boton:active{
    background-color: var(--verde-active);
}

@media screen and (max-width: 576px){
    .titulo{
        display: none;
    }

    body{
        background-color: white;
    }

    .formulario{
        box-shadow: none;
    }

    .formulario input{
        width: 90%;
    }
}
/* Fin de estilos de los formularios */

/* Estilos Menú */
input[type="radio"]{
    display: none;
}

.cont-opciones{
    padding: 20px;
}

.opciones label{
    height: 25vmin;
    width: 25vmin;
    border-radius: 15px;
    color: white;
    background-color: var(--verde);
}

.opciones label:hover{
    background: #059980;
}
.opciones label:hover{
    box-shadow: var(--sombra);
    transform: scale(1.005);
    cursor: pointer;
}

.opciones label:hover ~ p{
    transform: scale(1.09);
    font-weight: 500;
}

.p-opciones{
   width: 25vmin; 
}

.p-opciones label::before{
    font-size: 8vmin;
    color: white;
}

select{
    width: 30vmin;
    border-radius: 6px;
    padding: 5px;
}

select:hover{
    box-shadow: var(--sombra);
    cursor: pointer;
}

#alta:checked ~ #lbl-alta, #baja:checked ~ #lbl-baja,
#consulta:checked ~ #lbl-consulta, #modificar:checked ~ #lbl-modificar{
    background-color: #057260;
    border: 2px solid rgb(0, 0, 0);
}

#alta:checked ~ p, #baja:checked ~ p,
#consulta:checked ~ p, #modificar:checked ~ p{
    font-weight: 500;
}

@media screen and(max-width: 768px){
    .opciones{
        flex-direction: column;
    }
}
/* Fin de estilos de Menú */