/* Estilos Generales */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
}

.contenedor-form{
    height: 90vh;
}

/* Fin estilos Generales */

/* Estilos del header */
header{
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

nav h3{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Fin de estilos del Header */

/* Estilos de los formularios */
form{
    color: black;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

form input{
    border-radius: 80px;
    border: none;
    margin-top: 10px;
    height: 50px;
    width: 80%;
}

form img{
    width: 25vmin;
}

label{
    width: 75%;
}

.input{
    color: #666666;
    background: #e6e6e6;
    border-radius: 25px;
    padding: 0 30px;
}

.input:focus{
    transform: scale(1.05);
    background: #c8c8c8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.elemento-form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
}

.boton{
    border-radius: 25px;
    font-weight: 900;
    background: #57b846;
    transition: all 0.4s;
    color: white;
    padding: 0 30px;
}

.boton:hover{
    transform: scale(1.01);
    background-color: #339522;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.boton:active{
    background-color: #176909;
}

@media screen and (max-width: 576px){
    .titulo{
        display: none;
    }

    body{
        background-color: white;
    }

    form{
        box-shadow: none;
    }

    form input{
        width: 90%;
    }
}
/* Fin de estilos de los formularios */